body {
	font-size: 18px;
	font-family: 'Josefin Sans', sans-serif;
	background-color: burlywood;
}

h2 {
	text-decoration: underline;
}

.jumbotron {
	background-color: burlywood;
}

.img-responsive {
	margin: auto;
	width: 15%;
}

.mainlistitem {
	clear: both;
}

.items {
	float: left;
	border-style: solid;
	border-radius: 25%;
	margin: 5px 0px;
	padding: 5px;
	background-color: white;
}

.formdiv {
	float: right;
	margin: 5px 100px 5px 0px;
	padding: 5px;
}

#addBurgerhead {
	text-align: center;
}

.centerAlign {

}

#burgerBox {
	width: 100%;
}

#burgerAte {
	margin-top: 30px;
}
